{%- assign _class = 3 -%}
{%- assign _all = 4 -%}
{%- assign _count = _acm_items | size -%}

{%- if _acm_limt < _count -%}
{%- assign _count = _acm_limt -%}
{%- endif -%}

{%- if _count == 6 -%}
{%- assign _class = 2 -%}
{%- assign _all = 6 -%}
{%- endif -%}

{%- if _count == 5 -%}
{%- assign _class = 25 -%}
{%- assign _all = 5 -%}
{%- endif -%}

{%- if _count == 3 -%}
{%- assign _class = 4 -%}
{%- assign _all = 3 -%}
{%- endif -%}

{%- if _count == 2 -%}
{%- assign _class = 6 -%}
{%- assign _all = 2 -%}
{%- endif -%}

{%- if _count == 1 -%}
{%- assign _class = 12 -%}
{%- assign _all = 1 -%}
{%- endif -%}

<div class="box clearfix box-with-products products-grid-with-carousel{{' '}}{%- if _acm_title == blank -%}{{' '}}without-heading-type-2{%- endif -%}">
  {%- if _acm_title != blank -%}
  <div class="box-heading">{{_acm_title}}</div>
  <div class="strip-line"></div>
  {%- endif -%}
  <div class="clear"></div>
  <div class="box-content products">
    <div class="box-product">
      <div id="myCarousel{{_id}}">
        <div class="owl-carousel">
          {%- assign _i = 0 -%}

          {%- for _item in _acm_items -%}
          {%- if _item.type == 'product_link' -%}

          {%- if _i == _acm_limit -%}
          {%- break -%}
          {%- endif -%}

          <div class="item">
            <div class="product-grid">
              {%- assign product = _item.object -%}
              {%- include 'product-item' with _acm_url_imgdim -%}
            </div>
          </div>
          {%- assign _i = _i | plus: 1 -%}
          {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
  $("#myCarousel{{_id}} .owl-carousel").owlCarousel({
    responsive: {
      0: {
      	items: 1
      },
      320: {
      	items: 1
      },
      479: {
      	items: 2
      },
      767: {
      	items: 3
      },
      979: {
      	items: 4
      },
      1199: {
      	items: 5
      }
    },
    rtl: window.rtl
  });
});
</script>